<!-- <mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>arrow_upward</mat-icon>Let's train the Trainer</span>
  <a mat-button routerLink="CRUD Operation">CRUD Operation</a>
  <a mat-button routerLink="Basic Calculator">Basic Calculator</a>
  <a mat-button routerLink="Forms" data-bs-toggle="dropdown">Forms</a>
  <a mat-button routerLink="flex">Flex</a>
  <a mat-raised-button>Login</a>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><mat-icon>arrow_upward</mat-icon>Let's train the Trainer</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="CRUD Operation"
            >CRUD Operation</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="flex">Flex</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" routerLink="template-driven">
                Template Driven</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="reactive-form">Reactive</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Basic Calculator">Basic Calculator</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Routing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="admin/login">User List</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/list">Admin List</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Others
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="todolist">To Do List</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="reuse">Reuse Component</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="parent">Child to Parent </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="parentchild"
                >Parent to child</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="pdf">Download Reports</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav>
