<div class="heading" style="display: center">
  <h2>Photo Gallery</h2>
</div>
<div class="container">
  <div>
    <img
      class="single"
      src="https://media.istockphoto.com/photos/self-development-motivational-words-quotes-concept-picture-id1128571392?b=1&k=20&m=1128571392&s=170667a&w=0&h=SxCwFVhdp5cHTKy5YCNYbe-1bFr7MEi-y52s8zykbew="
      alt="Technology"
    />
  </div>
  <div>
    <img
      class="single"
      src="https://thumbs.dreamstime.com/b/web-development-coding-programming-internet-technology-business-concept-web-development-coding-programming-internet-technology-121903546.jpg"
      alt="Technology"
    />
  </div>

  <div>
    <img
      class="single"
      src="https://thumbs.dreamstime.com/b/api-application-programming-interface-software-web-development-concept-97070243.jpg"
      alt="Technology"
    />
  </div>

  <div>
    <img
      class="single"
      src="https://thumbs.dreamstime.com/b/software-development-word-cloud-concept-grey-background-88535408.jpg"
      alt="Technology"
    />
  </div>

  <div>
    <img
      class="single"
      src="https://media.istockphoto.com/photos/risk-management-concept-on-picture-id698336830?b=1&k=20&m=698336830&s=170667a&w=0&h=sjU6VDez0O00Nl489AjUx9JL6i88huYwKmiZmhmWOqE="
      alt="Technology"
    />
  </div>

  <div>
    <img
      class="single"
      src="https://thumbs.dreamstime.com/b/businessman-agile-software-development-concept-107925529.jpg"
      alt="Technology"
    />
  </div>

  <div>
    <img
      class="single"
      src="https://media.istockphoto.com/photos/project-manager-working-on-computer-at-the-office-concept-with-icons-picture-id1335717953?b=1&k=20&m=1335717953&s=170667a&w=0&h=nGbMtAhFMN5d6sxYVmXnULmCHyySCgUHV_rSQ-DPfYo="
      alt="Technology"
    />
  </div>
</div>
