<p>pdf works!</p>
<ul *ngFor="let d of data">
  <li><strong>Name- </strong>{{ d.name }}</li>
  <li><strong>Age- </strong>{{ d.age }}</li>
  <li><strong>Average- </strong>{{ d.average }}</li>
  <li><strong>Approved- </strong>{{ d.approved }}</li>
  <li><strong>Description- </strong>{{ d.description }}</li>
</ul>
<hr />
<form class="d-flex">
  <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
  <input
    type="button"
    class="btn btn-light"
    value="Convert to pdf"
    (click)="convertToPDF()"
  />
  <input
    type="button"
    class="btn btn-dark"
    value="Click to download xl"
    (click)="filedownload()"
  />
</form>
